.backToHomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: #77abbd;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  width: 97px;
  height: 40px;
  margin-left: 5px;
  box-shadow: 0 0 10px black;
  position: fixed;
  bottom: 15px;
  left: 10px;
  cursor: pointer;

  &:hover {
    background-color: #5f97ad;
  }
}