.scrollToTopButton {
  height: 45px;
  width: 45px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
  position: fixed;
  bottom: 15px;
  left: 16px;
  z-index: 1;
  color: black;
  background-color: #77abbd;
  border: 1px solid black;
  cursor: pointer;
}
