*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
  padding: 0;

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-family: monospace;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
