.productListingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100dvh;
  width: 100dvw;
}

.categoriesButton {
  height: 60px;
  /* background-color: rgb(43, 226, 55); */
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.openCategoriesButton {
  background-color: #77abbd;
  font-weight: bold;
  border-radius: 8px;
  width: 150px;
  height: 35px;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
